# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Environment variables
# -------------------------
.env
.env.*

# -------------------------
# Virtual environments
# -------------------------
venv/
.venv/
env/

# -------------------------
# Backend data / indexes
# -------------------------
faiss_index/
data/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# OS
# -------------------------
.DS_Store

# -------------------------
# Build / cache
# -------------------------
.cache/

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/